<nav>
    <div class="navbar">
        <div class="leftNav">
            <a href="#">RazaTechTube</a>
        </div>
        <div class="rightNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/secret">Secret</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>